* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  transition: all 0.4s ease-out;
}

body.switch {
  background-color: white;
}

.header {
  align-items: center;
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 8px 0px;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 1000;
  /* animasi */
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease;
}

.header.switch {
  background: rgba(255, 255, 255, 0.5);
}

.header.show {
  opacity: 1;
  transform: translateY(0);
}

nav {
  padding: 0 2%;
}

.logo {
  color: white;
  font-size: 2em;
  font-family: "Franklin Gothic Medium";
  padding: 0 2%;
}

span {
  color: red;
}

nav ul {
  display: flex;
  gap: 28px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  font-family: Arial;
  text-decoration: none;
  transition: 0.4s ease;
}

nav ul li a:hover {
  color: red;
}

/* toogle */
#toogle {
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border: solid white;
  border-radius: 30px;
  display: flex;
  height: 30px;
  width: 60px;
  right: 0;
  top: 64px;
  position: fixed;
  margin-right: 10px;
  z-index: 1000;
}

#toogle.switch {
  background: rgba(255, 255, 255, 0.8);
  border: solid #000;
}

#circle {
  background: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  position: fixed;
  transition: all 1s ease;
}

#circle.switch {
  background: #000;
  right: 0;
}

/* Home */
.home {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#welcomeText {
  color: red;
  font-family: "BBH Sans Hegarty";
  font-size: 2.3em;
}

.containerHome {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* animasi */
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease;
}

.containerHome.show {
  opacity: 1;
  transform: translateY(0);
}

#btn {
  background: white;
  color: #000;
  border-radius: 8px;
  font-family: "Franklin Gothic Medium";
  padding: 4px 0;
  text-decoration: none;
  margin: 6px 0;
  width: 30%;
}

#btn.switch {
  background: #000;
  color: white;
}

#btn:hover {
  color: red;
}

/* About */
.about {
  align-content: center;
  height: 80vh;
  justify-items: center;
}

.containerAbout {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  /* animasi */
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease;
}

.containerAbout.show {
  opacity: 1;
  transform: translateY(0);
}

.line {
  background-color: white;
  color: white;
  height: 100;
  width: 3px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card h1 {
  color: white;
  font-family: "Franklin Gothic Medium";
}

.card p {
  color: white;
  font-size: 1.2em;
  margin-top: 12px;
}

.btn {
  background: white;
  border-radius: 5px;
  color: #000;
  font-family: "Franklin Gothic Medium";
  padding: 3px 0;
  margin-top: 12px;
  text-decoration: none;
  text-align: center;
  width: 18%;
}

.btn.switch {
  background: #000;
  color: white;
}

.btn:hover {
  color: red;
}

.pic {
  border-radius: 20px;
  margin: 8px 8px;
  width: 20vw;
}

@media screen and (max-width: 1015px) {
  .about {
    height: 100vh;
  }

  .containerAbout {
    flex-direction: column;
  }

  .line {
    display: none;
  }

  .containerAbout {
    align-items: center;
  }

  .pic {
    mask-image: linear-gradient(to bottom, black 30%, transparent 78%);
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 78%);
    position: absolute;
    width: 40vw;
    z-index: -1;
  }

  .card {
    align-items: center;
    position: absolute;
    top: 85px;
  }

  .card h1 {
    text-align: center;
  }

  .card p {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .about {
    height: 80vh;
  }

  .pic {
    width: 45vw;
  }

  .card h1 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 440px) {
  .pic {
    width: 50vw;
  }
}

/* Contact */
.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
}

.containerContact {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* animasi */
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s ease;
}

.containerContact.show {
  opacity: 1;
  transform: translateY(0);
}

.sosmed {
  display: flex;
  margin-top: 20px;
}

.boxSosmed {
  background-color: #000;
  border-radius: 8px;
  border: solid white;
  box-shadow: -1px 0px 17px 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -1px 0px 17px 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -1px 0px 17px 2px rgba(255, 255, 255, 0.75);
  display: flex;
  gap: 12px;
  margin: 0 10px;
  padding: 6px;
}

.boxSosmed.switch {
  background-color: white;
  box-shadow: -1px 0px 17px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 17px 2px rgba(0, 0, 0, 0.75);
}

.boxSosmed img {
  width: 5vw;
}

.link {
  display: none;
}

.link.show {
  align-items: center;
  display: flex;
}

.link a {
  color: white;
  text-decoration: none;
}

.containerContact h4 {
  color: white;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium";
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

footer p {
  color: white;
}

a.switch {
  color: #000;
}

p.switch {
  color: #000;
}

h1.switch {
  color: #000;
}

h2.switch {
  color: #000;
}

h4.switch {
  color: #000;
}
